{:paths ["src" "test"]
 :deps {
        ;; kotoba.lang.error replaced clojure.lang.ExceptionInfo here (2026-09-25).
        ;; An explicit floor: tools.deps takes the NEWEST sha it is shown.
        io.github.kotoba-lang/error {:git/sha "838dec56c9a5b74f9eec825a2fb28bda157f8cd3"}
        ;; kotoba.bytes replaced UTF-8 .getBytes / String. here (2026-09-24). An explicit
        ;; floor: tools.deps takes the NEWEST sha it is shown.
        io.github.kotoba-lang/bytes {:git/sha "d5259f35ab7c4f5a66e63ca29ed4dcf7ba3f1ac5"}
        ;; kotoba.lang.coll replaced clojure.set here (2026-09-24). An explicit
        ;; floor: kotoba.lang.coll carries clojure.set's union/intersection/
        ;; difference/map-invert from 0ffd5f6, and tools.deps takes the NEWEST
        ;; sha it is shown.
        io.github.kotoba-lang/coll {:git/sha "0ffd5f6340af50871d4759b06e02ac4fbf9a4bdf"}
        ;; kotoba.io replaced clojure.java.io here (2026-09-24). An explicit floor:
        ;; kotoba.io carries clojure.java.io's file/as-file/as-relative-path/
        ;; make-parents/delete-file from 98045c7, and tools.deps takes the NEWEST
        ;; sha it is shown.
        io.github.kotoba-lang/io {:git/sha "72dde04b4c32854d70d17a670b277f8f7957a784"}}
 :tasks {test {:requires ([clojure.test] [kosatsu.cells.social-post.test-state-machine]
                          [kosatsu.methods.test-analyze] [kosatsu.methods.test-anchor] [kosatsu.methods.test-autorun]
                          [kosatsu.methods.test-bridge] [kosatsu.methods.test-charter-invariants]
                          [kosatsu.methods.test-consistency] [kosatsu.methods.test-ingest]
                          [kosatsu.methods.test-integrity] [kosatsu.methods.test-kotoba]
                          [kosatsu.methods.test-lexicons] [kosatsu.methods.test-social]
                          [kosatsu.methods.test-weave] [kosatsu.murakumo-test])
               :task (let [r (clojure.test/run-tests 'kosatsu.cells.social-post.test-state-machine
                              'kosatsu.methods.test-analyze 'kosatsu.methods.test-anchor 'kosatsu.methods.test-autorun
                              'kosatsu.methods.test-bridge 'kosatsu.methods.test-charter-invariants
                              'kosatsu.methods.test-consistency 'kosatsu.methods.test-ingest
                              'kosatsu.methods.test-integrity 'kosatsu.methods.test-kotoba
                              'kosatsu.methods.test-lexicons 'kosatsu.methods.test-social
                              'kosatsu.methods.test-weave 'kosatsu.murakumo-test)]
                       (when (pos? (+ (:fail r) (:error r))) (throw (ex-info "kosatsu tests failed" r))) r)}}}
