{:format :kotoba.cljk-origin/v1
 :renamed-on "2026-09-11"
 :decision "adr-2609111500-cljk-rename-all-clojure-source (com-junkawasaki/root 90-docs/adr; owner instruction 2026-09-11)"
 :rule "value = the extension the file had before the rename. A path ending in .clj.cljk or .cljs.cljk kept it in the name because both platform files existed (or the plain target was taken)."
 :origins
 {"src/kosatsu/cells/competing_claim_weave/cell.cljk" ".cljc"
  "src/kosatsu/cells/designation_ingest/cell.cljk" ".cljc"
  "src/kosatsu/cells/social_post/state_machine.cljk" ".cljc"
  "src/kosatsu/mesh.cljk" ".clj"
  "src/kosatsu/methods/_edn.cljk" ".cljc"
  "src/kosatsu/methods/_t.cljk" ".cljc"
  "src/kosatsu/methods/analyze.cljk" ".cljc"
  "src/kosatsu/methods/anchor.cljk" ".cljc"
  "src/kosatsu/methods/autorun.cljk" ".cljc"
  "src/kosatsu/methods/bridge.cljk" ".cljc"
  "src/kosatsu/methods/edn.cljk" ".cljc"
  "src/kosatsu/methods/ingest.cljk" ".cljc"
  "src/kosatsu/methods/kotoba.cljk" ".cljc"
  "src/kosatsu/methods/social.cljk" ".cljc"
  "src/kosatsu/methods/weave.cljk" ".cljc"
  "src/kosatsu/murakumo.cljk" ".cljc"
  "test/kosatsu/cells/social_post/test_state_machine.cljk" ".cljc"
  "test/kosatsu/methods/test_analyze.cljk" ".cljc"
  "test/kosatsu/methods/test_anchor.cljk" ".cljc"
  "test/kosatsu/methods/test_autorun.cljk" ".cljc"
  "test/kosatsu/methods/test_bridge.cljk" ".clj"
  "test/kosatsu/methods/test_charter_invariants.cljk" ".cljc"
  "test/kosatsu/methods/test_consistency.cljk" ".cljc"
  "test/kosatsu/methods/test_ingest.cljk" ".clj"
  "test/kosatsu/methods/test_integrity.cljk" ".cljc"
  "test/kosatsu/methods/test_kotoba.cljk" ".clj"
  "test/kosatsu/methods/test_lexicons.cljk" ".cljc"
  "test/kosatsu/methods/test_social.cljk" ".clj"
  "test/kosatsu/methods/test_weave.cljk" ".cljc"
  "test/kosatsu/murakumo_test.cljk" ".cljc"}}
